.project {
  display: flex;
  justify-content: left;
  cursor: pointer;

  &.active, &:hover {
    font-weight: bold;
    background-color: white;
  }
}

.projectItem {
  padding: 5px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &:not(:focus-visible) {
    outline: none;
  }

}
