.tasks {
  width: 656px;
  background-color: white;
  margin-left: 266px;
  border-right: 1px solid #f1f1f1;
  min-height: calc(100vh);
  vertical-align: top;
  padding: 80px 40px;

  @media (max-width: 900px) {
    margin-left: 0;
    width: auto;
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 30px 20px 0;
  }

  .add-task {
    margin-top: 20px;
  }

  &__list li {
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
  }

  &__done {
    margin: 0 auto;
    width: 50%;
    min-height: 250px;
    background-image: url("notFound.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &-text{
      text-align: center;
    }
  }
}

