.sidebar {
  user-select: none;
  width: 266px;
  height: calc(100vh);
  padding-top: 74px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: 1px solid #f1f1f1;
  background-color: #fafafa;

  @media only screen and (max-width: 900px) {
    display: none;
  }

  li {
    padding: 2px 10px 2px 4px ;
  }

  // todo: refactor this styles
  //&__project {
  //
  //  &:nth-child(1) {
  //    .sidebar__dot {
  //      color: #6accbc;
  //    }
  //  }
  //
  //  &:nth-child(2) {
  //    .sidebar__dot {
  //      color: #fad003;
  //    }
  //  }
  //
  //  &:nth-child(3) {
  //    .sidebar__dot {
  //      color: #ff8d85;
  //    }
  //  }
  //
  //  &:nth-child(4) {
  //    .sidebar__dot {
  //      color: #ff9932;
  //    }
  //  }
  //
  //  &:nth-child(5) {
  //    .sidebar__dot {
  //      color: #af38eb;
  //    }
  //  }
  //}
}

.middle {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  padding: 11px;

  &:not(:focus-visible) {
    outline: none;
  }

  h2 {
    margin: 0;
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }
}

.iconChevron {
  color: #0000008a;
  margin-right: 10px;
}

.hiddenProject {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.generic {
  li {
    list-style-type: none;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    line-height: 1.50;
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
    margin-bottom: 2px;

    div {
      display: flex;
     align-items: center;

      .taskCounterContainer {
        margin-left: 6px;
      }

      &:not(:focus-visible) {
        outline: none;
      }
    }

    div:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px 0 10px 10px;
      width: 100%;

      span:first-of-type {
        margin-right: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        svg {
          width: 18px;
          height: 18px;
          color: #555;
        }
      }
    }

    &.active, &:hover {
      font-weight: bold;
      background-color: white;
    }
  }
}

.projects {
  padding-left: 3px;
}

.active {
  font-weight: bold;
  background-color: white;
}
