.project {
  display: flex;
  justify-content: left;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 2px;

  &.active, &:hover {
    font-weight: bold;
    background-color: white;
  }
}

.projectAction {
  width: 100%;
  display: flex;
  align-items: center;

  &:not(:focus-visible) {
    outline: none;
  }
}

.projectItem {
  padding: 5px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &:not(:focus-visible) {
    outline: none;
  }
}

.dot {
  margin-right: 10px;
  font-size: 30px;

  &:nth-of-type(1) {
    color: #6accbc;
  }

  &:nth-child(2) {
    color: red;
  }
}

.delete {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  position: relative;

  svg {
    color: #cacaca;
  }
}

.deleteModal {
  position: absolute;
  right: 205px;
  bottom: 0;
}
