.dot {
  margin-right: 10px;
  font-size: 30px;

  &:nth-of-type(1) {
    color: #6accbc;
  }

  &:nth-child(2) {
    color: red;
  }
}

.delete {
  margin-left: auto;
  display: flex;

  svg {
    color: #cacaca;
  }
}
