@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #202020;
  background-color: #fafafa;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

/*Mixins
==============================*/
/*Darkmode
==============================*/
.darkmode header {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: #282828;
  border-color: transparent;
}

/* Sidebar
  ============================================ */
.sidebar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 266px;
  height: calc(100vh);
  padding-top: 74px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: 1px solid #f1f1f1;
  background-color: #fafafa;
}
@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
.sidebar li {
  padding: 2px 4px;
}
.sidebar li:hover .sidebar__project-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar__project {
  cursor: pointer;
}
.sidebar__project-item {
  padding: 5px 0;
  padding-left: 10px;
  padding-right: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sidebar__project-delete {
  margin-left: auto;
  display: none;
}
.sidebar__project-delete svg {
  color: #cacaca;
}
.sidebar__project.active, .sidebar__project:hover {
  font-weight: bold;
  background-color: white;
}
.sidebar__project:nth-child(1) .sidebar__dot {
  color: #6accbc;
}
.sidebar__project:nth-child(2) .sidebar__dot {
  color: #fad003;
}
.sidebar__project:nth-child(3) .sidebar__dot {
  color: #ff8d85;
}
.sidebar__project:nth-child(4) .sidebar__dot {
  color: #ff9932;
}
.sidebar__project:nth-child(5) .sidebar__dot {
  color: #af38eb;
}
.sidebar__projects {
  padding-left: 3px;
}
.sidebar__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: left;
}
.sidebar__dot {
  margin-right: 10px;
  font-size: 30px;
}
.sidebar__middle {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  padding: 11px;
}
.sidebar__middle span {
  color: #0000008a;
  margin-right: 10px;
}
.sidebar__middle span svg.hidden-projects {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar__middle h2 {
  margin: 0;
  color: #333;
  font-size: 15px;
  font-weight: bold;
}
.sidebar__generic li {
  list-style-type: none;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  line-height: 1.5;
  font-size: 15px;
  padding-left: 0;
  padding-right: 0;
}
.sidebar__generic li div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px 10px;
  width: 100%;
}
.sidebar__generic li div:nth-child(1) span:first-of-type {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sidebar__generic li div:nth-child(1) span:first-of-type svg {
  width: 18px;
  height: 18px;
  color: #555;
}
.sidebar__generic li.active, .sidebar__generic li:hover {
  font-weight: bold;
  background-color: white;
}

/* Show Confirm Delete
  ============================================ */
.project-delete-modal {
  position: relative;
}
.project-delete-modal__inner {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 85px;
  border-radius: 3px;
  z-index: 99;
  width: 200px;
  padding: 10px;
  top: 10px;
  right: 0;
  background-color: white;
}
.project-delete-modal__inner p {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: normal;
  font-weight: normal;
  font-size: 15px;
}

/* Main Content
  ============================================ */
.content {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 1fr auto;
  max-width: 922px;
  margin: auto;
}

/*# sourceMappingURL=App.css.map */
