.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url("signup.png"),  linear-gradient(144deg, var(--main-color), #41295a);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  @media (max-width: 600px) {
    background-position: top;
  }
}
